<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     
<link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="maincontainer"> <div class="logo">logo</div>

  <div class ='container'>
    
<button type="button" class="btn sb btn-dark">Home</button>
  <button type="button" class="btn sb btn-dark">Guide ></button>
  <button type="button" class="btn sb btn-dark">Focus Panel</button>
  <button type="button" class="btn sb btn-dark">To-Do List</button>
  <button type="button" class="btn sb btn-dark">Features</button>
</div>
 </div>
 

</body>
</html>